body {
    text-align: center;
  }

  .id{
    text-decoration: underline;
    
  }
  
  textarea {
    border-width: 5px;
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background:  #8e8ec5;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
  }
  
  iframe {
    border-width: 5px;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 35em;
    background: rgb(133, 131, 131);
    
  }